* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.popup_html {
    height: fit-content;
}

.extension-popup {
    min-width: 600px;
    max-width: 800px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.flex-column__space-between {
    justify-content: space-between;
}
.flex-column__flex-start {
    justify-content: flex-start;
}
.flex__fill {
    flex-grow: 1;
}
.flex__align-items-stretch {
    align-items: stretch;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.flex-row > * {
    align-self: center;
}
.center {
    text-align: center;
}

.hamburger-container {
    padding: 15px;
}

/* download item styles */
:root {
    --size: 38px;
}
.download-items {
    background-color: #ededed;
    padding: 5px;
}
.download-item {
    height: 70px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}
.download-item:not(:last-child) {
    margin-bottom: 5px;
}
.download-item__icon {
    height: var(--size);
    width: var(--size);
    padding: 7px 5px;
}
.download-item__info-section {
    flex-grow: 1;
    min-width: 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}
.download-item__filename {
    font-size: 1.2em;
    color: rgb(0, 145, 234);
    margin-bottom: auto;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.download-item__status {
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.download-item__progress {
    width: 100%;
}
.download-item__close > i {
    color: lightgray;
}
.download-item__close {
    /* grid-area: close; */
    height: var(--size);
    width: var(--size);
    padding: 7px 5px;
}
/* end download item styles */

.mdl-progress {
    width: 100%;
}
div.message {
    padding: 10px;
}
.message__card.mdl-card {
    width: 100%;
    /* height: 100%; */
}

.authentication {
    padding: 20px;
}
.authentication .authentication__input {
    width: 100%;
}
.authentication .authentication__button {
    min-width: 70px;
}
.authentication .authentication__spacer {
    width: 20px;
}

.popup__header {
     border-bottom: 1px solid lightgray;
}
.popup__bottom {
    background-color: white;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.popup__options {
    margin: 5px;
    background-color: white;
}

.popup__header_img{
    max-height: 2em;
    margin: 15px;
}
.option {
    min-height: 3em;
    margin: 5px;
}
.options_menu {
    color:gray;
 }

.progressbar {
    background-color: #9dc800 !important;
}

.mdl-switch.is-checked .mdl-switch__thumb {
    background: #6f8d00;
}

.mdl-switch.is-checked .mdl-switch__track {
    background: #9dc800;
}